body {
    background-color: rgb(19, 19, 19);
}

.navbar {
    width: 10%;
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

.base {
    margin-left: 17%;
    color: white;
}